main {
    max-width: 1000px;
    margin: 0 auto;

}

body {
    background-color: #b1ab62;
}

.header {
    font-size: 40px;
    color: rgba(155, 83, 83, 0.767);
}

.navigation {
    background-color: #3a3055;
    border-radius: 10px;
}

.navigation-link {
    font-size: 20px;
    color:yellowgreen;
}

.section-header {
 color:rgba(194, 0, 65, 0.767)
}

.article-header {
    color:rgba(5, 44, 41, 0.925)
}

.special-cat {
    max-width: 100%;
}